@for (user of users; track user.id) {
<div
  class="flex flex-col gap-2 w-[400px] items-center h-fit border-2 border-black m-3 p-3"
>
  <h4 class="text-lg font-bold">{{ user.name }}</h4>
  <div class="flex gap-2 items-baseline">
    <h3 class="text-lg font-bold">phone:</h3>
    <p class="text-base font-semibold">{{ user.phone }}</p>
  </div>
  <div class="flex gap-2 items-baseline">
    <h3 class="text-lg font-bold">mail:</h3>
    <p class="text-base font-semibold">{{ user.email }}</p>
  </div>
  <div class="flex gap-2 items-baseline">
    <h3 class="text-lg font-bold">company:</h3>
    <p class="text-base font-semibold">{{ user.company.name }}</p>
  </div>
  <button
    (click)="userPosts(user.id)"
    class="w-[100px] h-[40px] bg-cyan-600 rounded text-white"
  >
    Get Posts
  </button>
</div>
}
